<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SACCO Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/microfinances" routerLinkActive="active">Microfinances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/loans" routerLinkActive="active">Loans</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-4">
  <router-outlet></router-outlet>
</div>
